@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: "Montserrat", sans-serif;
    color: #000;
  }

  .es-kv {
    margin-bottom: 64px;

    &__img {
      @include img;

      &--plus {
        position: absolute;
        top: 53%;
        left: -201px;
        z-index: -1;
        -webkit-transform: translateY(-48%);
        transform: translateY(-48%);
        max-width: 285px;
      }

      &--photo {
        -o-object-fit: cover;
        object-fit: cover;
        margin: 0;
        width: 100%;
      }
    }

    &__logo {
      padding: 16px;
      opacity: 0;
      -webkit-animation: slidedown 0.6s forwards;
      animation: slidedown 0.6s forwards;

      &--dt {
        display: none;
      }
    }

    &__photo {
      position: relative;
      margin: 0 auto;
    }

    &__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
    }

    &__title {
      @include text;
      bottom: 20px;
      right: 20px;
      position: absolute;
      text-align: right;
      color: #064f89;
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.95);
      font-size: 23px;
      font-weight: 300;

      @media (min-width: 450px) {
        top: 20px;
        color: #064f89;
      }
    }

    &__wrapper {
      padding: 16px;
    }

    &__packshot {
      padding-top: 20px;
      position: relative;
      z-index: 1;
      max-width: 220px;
      margin: 0 auto;
      opacity: 0;
      -webkit-animation: slidedown 0.8s 0.4s forwards;
      animation: slidedown 0.8s 0.4s forwards;
    }

    &__name {
      @include text;
      background: #0084d3;
      color: #fff;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 4px 16px;
      margin-bottom: 8px;
      opacity: 0;
      -webkit-animation: slideright 0.6s 0.8s forwards;
      animation: slideright 0.6s 0.8s forwards;
    }

    &__number {
      @include text;
      font-size: 58px;
      color: #0084d3;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: 700;
      margin-bottom: 4px;
    }

    &__text {
      @include text;
      font-size: 18px;
      color: #0084d3;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 4px;
      padding-left: 16px;
    }

    &__texts {

      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
        &::before {
          content: "+ ";
          position: absolute;
          margin-left: -20px;
        }
      }
    }

    &__label {
      @include text;
    }

    &__disc {
      @include text;
      text-align: center;
      color: #0084d3;
    }
  }

  .es-benefits {
    margin-bottom: 30px;

    &__img {
      @include img;

      &--image {
        margin-left: 0;
      }
    }

    &__content {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0 16px;
      gap: 16px;
    }

    &__icon {
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }

    &__benefit {
      width: 200px;

      &:hover {
        .es-benefits__icon {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
        }
      }
    }

    &__text {
      @include text;
      text-align: center;
      padding: 16px 0;
    }
  }

  .es-features {
    margin-bottom: 64px;

    &__img {
      @include img;
    }

    &__title {
      @include text;
      padding: 16px;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
    }

    &__container {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-flow: column;
    }

    &__content {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0 16px;
      gap: 35px;
    }

    &__icon {
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }

    &__feature {
      width: 200px;

      &:hover {
        .es-features__icon {
          -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
        }
      }
    }

    &__point {
      @include text;
      padding: 16px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__text {
      @include text;
      text-align: center;
    }

    &__image {
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
  }

  .es-info {
    margin-bottom: 64px;

    &:hover {
      .es-info__img--image {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    &__image {
      overflow: hidden;
    }

    &__img {
      @include img;
      max-width: none;
      width: 100%;
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
    }

    &__title {
      @include text;
      padding: 16px;
      text-align: center;
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }

    &__content {
      background: url("../images/bg-info.png");
      background-size: cover;
      padding: 16px 0;
    }

    &__wrapper {
      background: rgba(255, 255, 255, 0.8);
      padding: 24px;
    }

    &__subtitle {
      @include text;
      color: #023656;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;

      &--last {
        padding-top: 16px;
      }
    }

    &__text {
      @include text;
      color: #023656;
      margin-bottom: 16px;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      font-size: 14px;

      span {
        font-size: 23px;
        font-weight: 700;
      }

      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    &__disc {
      @include text;
      font-size: 11px;
      padding: 16px 24px;
    }
  }

  .es-formula {
    margin-bottom: 64px;

    &__img {
      @include img;
    }

    &__title {
      @include text;
      padding: 16px;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }

    &__container {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 32px 8px;
    }

    &__single {
      width: 302px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    &__container .es-formula__single {
      opacity: 1;
    }

    &__container:hover .es-formula__single {
      opacity: 0.8;
    }

    &__container .es-formula__single:hover {
      opacity: 1;
    }

    &__tile {
      position: relative;
      margin-bottom: 24px;
    }

    &__overlay {
      position: absolute;
      width: 90%;
      height: 30%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: rgba(0, 132, 211, 1);
      mix-blend-mode: multiply;
      min-width: 250px;
      z-index: 1;
    }

    &__label {
      @include text;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      padding: 32px 16px;
      min-width: 250px;
      color: #fff;
      font-size: 29px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      z-index: 2;

      &--big {
        width: 275px;
      }
    }

    &__text {
      @include text;
      text-align: center;
    }
  }

  .es-cross {
    margin-bottom: 64px;

    &__img {
      @include img;
    }

    &__title {
      @include text;
      padding: 16px;
      text-align: center;
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }

    &__product {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-flow: column;

      &:hover .es-cross__packshot {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
      }
    }

    &__packshot {
      -webkit-box-ordinal-group: 0;
      order: -1;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }

    &__content {
      padding: 16px;
      position: relative;
      padding-left: 80px;
      z-index: 1;

      &:hover {
        .es-cross__number {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
    }

    &__number {
      @include text;
      color: #0084d3;
      opacity: 0.3;
      font-weight: 700;
      font-size: 180px;
      line-height: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }

    &__img {
      &--2-desktop {
        display: none;
      }
    }

    &__step {
      @include text;
      font-size: 23px;
      text-transform: uppercase;
      padding-bottom: 12px;
      border-bottom: 2px solid #0084d3;
      font-weight: 700;
      display: inline-block;
    }

    &__text {
      @include text;
      padding-top: 24px;
      padding-bottom: 16px;
    }

    &__link {
      @include text;
      display: inline-block;
      color: #fff;
      background: #0761a9;
      padding: 10px 32px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 8px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        background: #0084d3;
      }
    }
  }

  .es-reviews {
    padding-bottom: 64px;

    &__img {
      @include img;

      &--stars {
        margin-bottom: 16px;
      }
    }

    &__title {
      @include text;
      padding: 16px;
      text-align: center;
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }

    &__quote {
      margin-bottom: 32px;
      max-width: 25%;
      margin: 0 auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
      &:after {
        content: "";
      }
    }

    .swiper {
      background: #0084d3;
      border-radius: 8px;
      overflow: initial;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: -38px;
    }

    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #0084d3;
      border: none;
      width: 52px;
      height: 10px;
      font-size: 0;
      border-radius: 6px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }

    &__slider {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }

    &__slide {
      @include text;
      color: #fff;
      text-align: center;
      padding: 32px 40px;
    }

    &__container {
      overflow: hidden;
      position: relative;
      padding: 16px 0;
      margin: 16px;
      padding-bottom: 40px;
    }

    &__navigation {
      position: absolute;
      bottom: -20px;
      width: 100%;
    }

    &__text {
      @include text;
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__logo {
        &--mb {
          display: none;
        }

        &--dt {
          display: block;
          max-width: 185px;
        }
      }

      &__container {
        display: -webkit-box;
        display: flex;
      }

      &__photo {
        -webkit-box-flex: 1;
        flex: 1;
        width: 50%;
      }

      &__img {
        &--photo {
          -o-object-fit: cover;
          object-fit: cover;
          height: 100%;
        }
      }

      &__content {
        width: 50%;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }

      &__packshot {
        margin-right: -30px;
        margin-top: -30px;
        margin-left: 64px;
      }

      &__wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }

      &__texts {
        position: relative;
        z-index: 1;
        margin-top: -70px;
      }

      &__bottom {
        margin-block: 32px;
        width: 90%;
      }
    }

    .es-benefits {
      &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }

      &__image {
        -webkit-box-flex: 1;
        flex: 1;
      }

      &__content {
        -webkit-box-flex: 1;
        flex: 1;
      }

      &__benefit {
        display: -webkit-box;
        display: flex;
        gap: 32px;
        width: auto;
        -webkit-box-align: center;
        align-items: center;
      }

      &__text {
        text-align: left;
      }

      &__icon {
        min-width: 90px;
      }

      &__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-flow: column;
        gap: 32px;
        padding-left: 50px;
      }
    }

    .es-formula {
      &__title {
        margin-bottom: 65px;
      }
    }

    .es-features {
      &__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row;
        -webkit-box-align: center;
        align-items: center;
      }

      &__image {
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 3;
        order: 2;
      }

      &__content {
        -webkit-box-flex: 1;
        flex: 1;
      }

      &__feature {
        display: -webkit-box;
        display: flex;
        gap: 32px;
        width: auto;
        -webkit-box-align: center;
        align-items: center;
      }

      &__text,
      &__point {
        text-align: left;
      }

      &__point {
        padding: 0;
        padding-bottom: 16px;
      }

      &__icon {
        min-width: 90px;
      }
    }

    .es-info {
      margin-bottom: 109px;

      &__container {
        display: -webkit-box;
        display: flex;
      }

      &__content {
        padding: 48px 40px 48px 0;
        margin-top: 45px;
      }

      &__wrapper {
        border-radius: 0 8px 8px 0;
      }

      &__image {
        -webkit-box-flex: 1;
        flex: 1;
      }

      &__info {
        -webkit-box-flex: 1;
        flex: 1;
      }

      &__img {
        &--image {
          -o-object-fit: cover;
          object-fit: cover;
          height: 100%;
        }
      }

      &__disc {
        padding: 12px 24px;
      }
    }

    .es-cross {
      padding: 0 40px;
      margin: 0 auto;
      margin-bottom: 100px;

      &__title {
        margin-bottom: 55px;
      }

      &__product {
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row;

        &:nth-child(even) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          flex-flow: row-reverse;
        }

        margin-bottom: 85px;

        &--1 {
          max-width: 800px;
          margin-left: 82px;
          margin-top: 89px;
        }

        &--2 {
          margin-left: 112px;
        }

        &--3 {
          padding-right: 75px;
        }
      }

      &__content {
        -webkit-box-flex: 1;
        flex: 1;
        flex-basis: 50%;
        padding-left: 110px;

        &--2 {
          margin-top: -55px;
          margin-left: -150px;
          padding-left: 160px;
        }

        &--3 {
          padding-left: 170px;
        }
      }

      &__packshot {
        -webkit-box-flex: 1;
        flex: 1;
        flex-basis: 50%;
        z-index: 1;

        &--1 {
          margin-top: -42px;
          margin-left: -175px;
        }
      }

      &__number {
        font-size: 268px;
        top: -20px;
        z-index: 2;

        &--2 {
          display: none;
        }
      }

      &__img {
        width: 330px;

        &--2-mobile {
          display: none;
        }

        &--2-desktop {
          display: block;
          width: 430px;
        }

        &--3 {
          width: 430px;
        }
      }
    }

    .es-reviews {
      &__quote {
        max-width: 100%;
        margin: initial;
        padding-top: 56px;
        max-width: 440px;
        margin-bottom: 48px;
      }

      &__container {
        max-width: 608px;
        margin-top: 85px;
      }

      &__bg {
        background: url("../images/photo-opinions.jpg") no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 437px;
      }

      &__wrapper {
        position: relative;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-cross {
      &__content {

        &--2 {
          padding-left: 118px;
        }
      }
    }
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}